*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
}
main{
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;
}
.sed {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
.sed_btn{
    color: hsl(31, 77%, 52%);
}
.suv{
    background-color: hsl(184, 100%, 22%);
    height: 100%;
}
.suv_btn{
    color: hsl(184, 100%, 22%);
}
.lux{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}
.lux_btn{
    color: hsl(179, 100%, 13%);
}
img{
    margin: 20% 16%;
    margin-bottom: 0;
}
h2{
    color: hsl(0, 0%, 95%);
    margin-left: 16%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 45px;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin: 20px 16%;
    text-align: left;
    line-height: 1.6;
    font-family: 'Lexend Deca';
    font-weight: 400;
}
button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-family: 'Lexend Deca';
    font-weight: bolder;
    width: 150px;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    margin: 33px 16%;
    margin-top: 60px;
}